@import "reset.scss";
.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }


.btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// 게시물 안에 링크 스타일
.markdown-body > p > a{
  font-weight: bold !important;
  color: #0366d6 !important;
}

// 인용문
.markdown-body >blockquote> p > a{
  font-weight: bold !important;
  color: #0366d6 !important;
}



code{
  // background-color: #ffffe9;
  background-color: #fbe8c9;
  border-radius: 5px;
}

pre > code {
  font-size: 1.1em !important;
}

// for swiper
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev::after, .swiper-button-next::after{
  color: #64ADFF;
}
.swiper-button-prev:hover::after, .swiper-button-next:hover::after{
  color: #007AFF;
}

// 메뉴
.spread-btn{
  right: 15%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.menu-wrapper {
  text-align: left;
  margin-left: 30%;
}


// for my collapsible
.collapsible-title:hover {
  cursor: pointer;

  #section > span{
    text-shadow: 2px 2px 2px gray;
  }
}
.collapsible-body[open]{
  display: block;
}
.collapsible-body{
  display: none;
}

.collapsible-mark{
  display: inline-block;
  width: 30px;
}

// for my class
.collapsible-body > p > img{

  padding: 5% 4%;
}

.ps-problem-img:hover{
  opacity: 0.5;
}

a::after{
  display: block;
}

// custom hydejack
.figcaption img {
  width: 100%;
}

// for top-menu
.top-menu-wrapper{
  display: inline-block;
}
.top-menu{
  overflow-x: auto; // overflowx 속성은 x 축, 즉 왼쪽과 오른쪽의 내용이 더 길 때(가로),
  overflow-y: hidden; // overflowy 속성은 y 축, 즉 위와 아래의 내용이 더 길때 (세로) 어떻게 보일지 선택하는 속성
  white-space: nowrap; // whitespace 는 스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성, nowrap :병합
}
// for top-menu
.top-menu.nav-btn{
  border: none;
  display: inline-flex; // Flex 는 요소의 크기가 불분명하거나 동적인 경우에도, 각 요소를 정렬할 수 있는 효율적인 방법을 제공, Inline 특성의 Flex Container 를 정의
  width: 6rem; // inlineflex : Inline(Inline Block) 요소와 같은 성향(수평 쌓임)
  margin-left: -1px;
}

// for top-menu 검색 꾸미기(높이 조절)
.nav-btn-bar{
  height: 3rem;
}

// 상단 메뉴바 옵션, 스타일
.navbar.fixed-top>.content::before {
  bottom: 1px;
}

.navbar>.content {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  max-height: 5rem;
}

.navbar>.content::before {
content: "";
position: absolute;
display: block;
width: calc(100% - 6rem);
height: 5rem;
left: 3rem;
margin: auto;
box-shadow: 0 0 2rem rgb(255, 255, 255); // gray
z-index: -1;
}

.nav-btn, .nav-btn-bar{
  height: 3rem;
}

.nav-btn:hover,.nav-btn:focus{
  color: grey;
  background-color: rgba(0,0,0,0.05);
}

.nav-span{
  flex: none;
}

// for underline u tag
u{
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(180deg,rgba(240, 20, 20, 0) 50%, #fbe8c9 50%);
}

// for katex maths
.katex-display{
  // 투명
  background-color: transparent !important;
}



// time-line

.list-lead{
  margin-bottom: 0;
}
.list-lead::after{
  content:"";
  display:block;
  position: relative;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: -21px;
  left: 62px;
  // border: 3px solid;

  background-color: lightgrey;
  z-index: 1;
}
.list-post li {
  line-height: 3rem;
}
.list-post > ul > li:first-child::before, .list-post > ul > li::after{
  content: "";
  width: 4px;
  left: 66px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: lightgrey;
}
.list-post > ul > li > div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-post > ul > li > div > a{
  margin-left: 1.5rem;
  position: relative;
}
.list-post > ul > li > div > a::before{
  content: "";
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  float: left;
  top: 1.35rem;
  left: 60px;
  box-shadow: 0 0 5px 0 grey;
  background-color: white;
  z-index: 1;

  transition: all 0.5s;
}
.list-post > ul > li > div > a:hover::before{
  background-color: lightgrey;
  margin-right: 0.3rem;
  box-shadow: 0 0 2px 0 grey;
}
.list-post > ul > li:first-child::before{
  height: 3.0rem;
  top: -1.5rem;
}
.list-post > ul > li:not(:last-child)::after{
  height: 3.3rem;
  top: -1.3rem;
}
.list-post ul:not(:last-child)>li:last-child::after{
  height: 5.2rem;
  top: -1.3rem;
}

.list-post .related-posts>li+li{
  margin-top: 0;
}
.list-post li.h6{
  margin-top: 0;
}

// scrollbar
*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 0;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: rgb(173, 173, 173);
}
*::-webkit-scrollbar-track {
  background-color: white;
}

// profile avatar image
.content .avatar {
  float: right !important;    // 왼쪽으로 보낼지 오른쪽으로 보낼지
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: 5px !important;
  margin-left: 5px !important;
  width:140px !important; 	// 이미지 크기 
  height:140px !important;
}

// profile 저자 설명 
.author-body-description {
  margin-left: 20px !important;  // 소개글 위치 정하기 200px
  margin-top: 20px !important;      // 20px
}

// 소셜바  
.sidebar-social {
  margin-top: 10px !important; 
  margin-bottom: 15px;
}

